/*
bg-blue-500
sm:bg-red-500
md:bg-yellow-500 md:items-center md:justify-between
lg:bg-green-500 lg:items-center lg:justify-between
*/
.nav-link a{
    font-weight: bold;
    margin-right: 10px;
}
.nav-link a:hover{
    text-decoration: underline;
}
.active{
    background-color: #C1F3D0;
    padding: 15px;
    border-radius: 10px;
}
@media only screen and (min-width: 300px) and (max-width: 699px){
    .nav{
        background-color: skyblue;
        display: flex;
        flex-direction: column;
    }
    .header{
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 700px){
    .nav{
        background-color: goldenrod;
        display: flex;
        justify-content: space-between;
    }
}